* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.medium-container {
  max-width: 800px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.small-container {
  max-width: 720px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

.active {
  color: #00febe !important;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-main {
  background: #00febe;
  color: #0f1112;
}

.btn-main:hover {
  background: #00c795;
}

.btn-light {
  background: #ccf4ea;
  color: #0f1112;
}

.btn-light:hover {
  background: #00febe;
}

.btn-dark {
  background: #0f1112;
  color: #ccf4ea;
}

.btn-dark:hover {
  background: #00febe;
}

.bg-main {
  background: #00febe;
  color: #fff;
}

.bg-dark {
  background: #0f1112;
  color: #fff;
}

.bg-medium {
  background: #ccc;
  color: #000;
}

.bg-light {
  background: #ccf4ea;
  color: #000;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.l-heading {
  font-size: 4rem;
}

.s-heading {
  font-size: 1.5rem;
}

.m-heading {
  font-size: 2rem;
}

.bottom-line {
  background: #00febe;
  width: 3rem;
  height: 2px;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 100;
  text-align: center;
}

.form-title {
  background: #00c795;
  color: #0f1112;
  padding: 1rem;
}

.required::after {
  content: " *";
  color: red;
  font-size: 1.3rem;
  position: relative;
  top: -0.3rem;
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  background: #ccf4ea;
  color: #0f1112;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0f1112;
}

img {
  width: 100%;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

#main-header {
  background: #031742;
  color: #00febe;
  padding: 1.5rem;
}

#main-header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
}

#main-header .navbar .logo {
  width: 50px;
  height: 50px;
}

#main-header .navbar p {
  font-family: "Galada", cursive;
  font-size: 3rem;
  line-height: 3rem;
}

#main-header .navbar ul li {
  display: inline-block;
}

#main-header .navbar ul li a {
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem 1rem;
}

#main-header .navbar ul li a:hover {
  color: #00febe;
}

#registration-form {
  background: #ccf4ea;
}

#registration-form .form-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

#registration-form .form-input input,
#registration-form .form-input textarea {
  outline: none;
  border: #999 1px solid;
}

#registration-form .form-input input:focus,
#registration-form .form-input textarea:focus {
  border: #00c795 1px solid;
}

#registration-form .form-input select {
  outline: none;
  border: #999 0.2px solid;
}

#registration-form .form-input select:focus {
  border: #00c795 0.2px solid;
}

#registration-form .span {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

#registration-form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

#registration-form .form-group textarea {
  height: 5rem;
  overflow: hidden;
}

#registration-form .form-group input,
#registration-form .form-group textarea {
  width: 100%;
  padding: 0.75rem;
}

#registration-form .form-group #Comment {
  height: 10rem;
  overflow: hidden;
}

#registration-form .form-group-inline {
  margin: 1rem 0;
  position: relative;
}

#registration-form .form-group-inline .checkbox {
  position: absolute;
  bottom: 0;
  right: 0;
}

#registration-form .form-group-inline .checkbox input[type="checkbox"] {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#registration-form .form-group-inline .checkbox img {
  display: inline-block;
  width: 50px;
  height: 20px;
  position: relative;
  top: 0.5rem;
}

#registration-form .form-group-inline input[type="radio"] {
  margin-left: 0.75rem;
}

#registration-form .form-group-inline label[for="mobileBanking"] {
  display: block;
  margin-bottom: 0.5rem;
}

#registration-form .form-group-inline input[type="number"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

#registration-form .form-group-inline input[type="date"],
#registration-form .form-group-inline select {
  position: absolute;
  right: 0;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transform-origin: right;
          transform-origin: right;
}

#registration-form .form-group-inline input[type="date"] {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: right;
          transform-origin: right;
}

#registration-form .form-group-inline .serviceTime {
  margin: 1rem 0 0 4rem;
}

#registration-form .form-group-inline .serviceTime span {
  color: #555;
  font-size: 1.6rem;
}

#registration-form .form-group-inline .serviceArea {
  margin: 1rem 0 0 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#registration-form .form-group-inline .serviceArea div div {
  margin: 0.4rem 0;
  background: #a2ebd9;
}

#registration-form .form-group-inline .serviceArea input[type="text"] {
  padding: 0.1rem;
  width: 100%;
  outline: none;
  border: #00c795 1px solid;
}

#registration-form .vahicleType label {
  margin-bottom: 1rem;
}

#registration-form .vahicleType select {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#registration-form #ownerInfo {
  display: none;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

#footer {
  background: #031742;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #00c795;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

#footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .contact a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.2rem 0.4rem;
}

#footer .contact a:hover {
  color: #00c795;
}

#footer .contact div:last-child {
  margin-top: 1rem;
  padding-bottom: 0;
}
