// Container
.container {
  max-width: 1140px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}
.medium-container {
  max-width: 800px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}
.small-container {
  max-width: 720px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}
.active {
  color: $main-color !important;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn {
  &-main {
    @extend %btn-shared;
    background: $main-color;
    color: $dark-color;

    &:hover {
      background: $main-color-dark;
    }
  }

  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: $dark-color;

    &:hover {
      background: $main-color;
    }
  }

  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: $light-color;

    &:hover {
      background: $main-color;
    }
  }
}

// Background Color
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }

  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }

  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }

  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
}

// Lead Description
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

// Text center
.text-center {
  text-align: center;
}

// Paddings
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }
}

// Margins
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Headings
.l-heading {
  font-size: 4rem;
}
.s-heading {
  font-size: 1.5rem;
}
.m-heading {
  font-size: 2rem;
}

// Bottom Line
.bottom-line {
  background: $main-color;
  width: 3rem;
  height: 2px;
  margin: 0 auto 1rem auto;
}

// Section Title
.section-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 100;
  text-align: center;
}

// Form Title
.form-title {
  background: $main-color-dark;
  color: $dark-color;
  padding: 1rem;
}

.required::after {
  content: " *";
  color: red;
  font-size: 1.3rem;
  position: relative;
  top: -0.3rem;
}
